<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  
  <p><%= @username %></p>
  
  <p><%= @user.balance%></p>
  
  <body id="page-top">
    
    
    
    <a href="/sessions/logout">Log Out</a>
    
  </body>
</html>